<div class="annual-report-details-container">
  <div class="header">
    <h2>Annual Report Details</h2>
    <p>
      <a routerLink="/annual-report">Annual Report List</a>&gt; {{ reportDetails?.year }} Report
    </p>
  </div>

  <div class="report-content">
    <div class="report-summary">
      <div class="summary-left">
        <p><strong>Year: {{ reportDetails?.year }}</strong></p>
        <p><strong>Total Terms: {{ reportDetails?.totalTerms }}</strong></p>
        <p><strong>Total Expense: {{ reportDetails?.totalExpense | currencyFormat }}</strong></p>
      </div>
      <div class="summary-right">
        <p><strong>Created date: {{ reportDetails?.createdDate | date:'dd/MM/yyyy' }}</strong></p>
        <p><strong>Total department: {{ reportDetails?.totalDepartment }}</strong></p>
      </div>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Search by department" />
      <i class="fa fa-search"></i>
      <button class="search-btn">Search</button>
      <button class="export-btn">Export</button>
    </div>

    <table class="report-table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Department</th>
          <th>Total Expense</th>
          <th>Biggest Expenditure</th>
          <th>Cost Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let department of reportDetails?.departments">
          <td>{{ department.no }}</td>
          <td>{{ department.department }}</td>
          <td>{{ department.totalExpense | currencyFormat }} VND</td>
          <td>{{ department.biggestExpenditure | currencyFormat }} VND</td>
          <td>{{ department.costType }}</td>
        </tr>
      </tbody>
    </table>

    <div class="actions-pagination-container">
      <div class="actions">
        <button class="back-btn" routerLink="/annual-report">Back</button>
      </div>
      <div class="pagination">
        <p id="pagination-info">10/60 rows</p>
        <div>
          <button id="prev-page"><i class="fa fa-chevron-left"></i></button>
          <button id="next-page"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
